<section id="sidebar">
  <aside class="left">
    <img class="img" src="assets/images/logo-gamasoft.png" alt=""/>
  </aside>
  <aside class="right">
    <img class="img" src="assets/images/logo-gamasab-blanco.png" alt=""/>
  </aside>
</section>

<div id="wrapper">
  <section class="wrapper-intro fullscreen">
    <div class="inner">
      <div class="inner-left">
        <img class="img-login" src="assets/images/login-image.jpg"/>
        <div class="txt-center">Hola
          <br> Bienvenido.
        </div>
      </div>
      <div class="inner-right">
        <div class="container">
          <div class="header">Inicio de sesión</div>
          <br>
          <form method="post" name="loginForm" (submit)="LoginUser($event)">
            <input type="email" id="email" placeholder="Usuario" required autofocus/>
            <input type="password" id="pass" placeholder="Contraseña" required/>
            <br>
            <br>
            <div class="enlace" (click)="LimpiarFormUsuarios();" data-toggle="modal" data-target="#CambioClaveModal">
              <a>
                <b>¿Olvido su contraseña?</b>
              </a>
            </div>
            <br>
            <br>
            <button type="submit" class="boton boton-login">Entrar</button>
          </form>
        </div>
      </div>
    </div>
    <br>
    <div class="footer">
      Bogota: Kra 70H # 122 - 22 pbx 2269296 | Barranquilla: calle 76 # 50 - 10 of 301 tels: 3600965 - 3686538 | Cali:
      avenida
      5ª # 17 - 98 of 603 tels: 3827115 - 3827941
      <br>
      <a href="http://www.gamasoftcol.com">
        www.gamasoftcol.com
      </a>
      <br> Todos los derechos reservados 2019 - S.I.U S.A.S
    </div>
  </section>
</div>
