<form>
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="nombre" placeholder="nombre" />
    </div>

    <div class="form-group">
        <label>Birth Year </label>
        <input type="text" class="form-control" name="birthYear" placeholder="Año" />

    </div>

    <div>
        <h3>Location</h3>
        <div class="form-group">
            <label>Country</label>
            <input type="text" class="form-control" name="Pais" placeholder="Pais" />
        </div>
        <div class="form-group">
            <label>City</label>
            <input type="text" class="form-control"name="city" />
        </div>
    </div>

    <div>
        <h3>Phone numbers</h3>
        <div class="form-group">
            <label>Phone number 1</label>
            <input type="text" class="form-control" name="phoneNumber[1]" />
            <button type="button">remove</button>
        </div>
        <button type="button" class="btn btn-primary">Add phone number</button>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
    <button type="button" class="btn btn-primary">Print to console</button>
</form>